.header_nav {
    display: flex;
    overflow: hidden;
    background-color: black;
    color:white;
  }

  .header__logo {
    flex: 1;
    display: flex;
    position: relative;
    padding: 20px;
}

.header_menu, .header__menu-mobile {
    padding: 20px;
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    list-style: none;
  }

  .header__img{
    height: 200px;
    width: 100%;
    background-image: url("../../images/qui-nguyen-bar.jpg");
    background-size: cover;
  }