.user__form {
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user__form > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}