<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header'); -%>
  <form action="" class="user__form" method="POST">
    <h1><%= title %></h1>
    <h2>Enter code "MEMBER" to be a member.</h2>
    <input type="text">
    <button type="submit">OK</button>
  </form>
  </body>
</html>
