<!DOCTYPE html>
<html>
  <head>
    <%- include('meta'); -%>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <div class="user__form">
      <form action="">
        <h1>You are now a full member. Yay!</h1>
        <h1>🎉</h1>
        <button type="submit"><a href="/">TOP</a></button>
      </form>
    </div>
  </body>
</html>
