@import url("./sections/header.css");
@import url("./sections/sign-up\ form.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-creamson);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 4px rgba(1,1,1,.15);
  background: white;
  padding: 20px 50px;
  border-radius: 5px;
  color: rgb(44, 44, 44);
  max-width: 400px;
  gap: 8px;
}

.message-box > h2 {
  font-size: 14px;
}

.message-box > p {
  font-size: 16px;
}

.message-box > h4 {
  font-size: 13px;
  color: gray;
}

.feed {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  margin: 0 auto;
}

li {
  list-style: none;
}

.error-message {
  color: red;
}